<template>
  <div class="card-header">
    <h3 class="card-title">{{ cardTitle }}</h3>
  </div>
</template>
<script>
export default {
  name: 'CardHeader',
  props: {
    cardTitle: String
  }
}
</script>
