<template>
  <div class="card-body">
    <div class="form-group">
      <label>Name</label>
      <div class="input-group">
        <input type="text"
               v-model="form.name"
               name="name"
               :class="{'form-control':true, 'is-invalid': form.errors.name, 'is-valid': !form.errors.name}"
               :maxlength="maxLength"
               placeholder="Enter work position name">
        <div class="input-group-append">
          <span class="input-group-text">{{ form.name.length }}/{{ maxLength }}</span>
        </div>
        <span v-if="form.errors.name"
              class="error invalid-feedback">{{ form.errors.name }}</span>
      </div>
    </div>
    <div class="row" v-if="data.created_at && data.updated_at">
      <div class="col-md-12">
        <span class="bold">Created at:</span> {{ data.created_at }}
      </div>
      <div class="col-md-12">
        <span class="bold">Updated at:</span> {{ data.updated_at }}
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'CardBody',
  props: {
    form: {},
    data: {
      created_at: false,
      updated_at: false
    },
    maxLength: {
      type: Number,
      default: 256
    }
  },
}
</script>
<style>
span.bold {
  font-weight: bold;
}
</style>
