<template>
  <div class="card-footer">
    <inertia-link
      :href="cancelRoute"
      class="btn btn-outline-primary">Cancel
    </inertia-link>
    <button type="submit" :disabled="!this.form.name" class="btn btn-success float-right">
      <i class="fa fa-save"></i> {{ submitButtonText }}
    </button>
  </div>
</template>
<script>
export default {
  name: 'CardFooter',
  props: {
    form: Object,
    cancelRoute: String,
    submitButtonText: String
  },
  data() {
    return {
      formData: ''
    }
  },
}
</script>
