<template>
  <app-layout>
    <template #content>
      <div class="row">
        <div class="col-md-6">
          <div class="card card-primary">
            <CardHeader :card-title="'Add Work Position'"/>
            <form @submit.prevent="form.post(route('workpositions.store'))">
              <CardBody :data="data" :form="form"/>
              <CardFooter
                :form="form"
                :submit-button-text="'Create'"
                :cancel-route="route('workpositions.index')"/>
            </form>
          </div>
        </div>
      </div>
    </template>
  </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import CardHeader from "@/Pages/WorkPositions/CardHeader";
import CardBody from "@/Pages/WorkPositions/CardBody";
import CardFooter from '@/Pages/WorkPositions/CardFooter'

export default {
  name: "Create",
  components: {
    CardBody,
    CardHeader,
    CardFooter,
    AppLayout
  },
  data() {
    return {
      data: {},
      form: this.$inertia.form({
        name: ''
      }),
    }
  },
}
</script>

<style scoped>

</style>
