<template>
  <app-layout>
    <template #content>
      <div class="row">
        <div class="col-md-6">
          <div class="card card-primary">
            <CardHeader :card-title="'Edit'"/>
            <form @submit.prevent="form.put(route('workpositions.update', data.id))">
              <CardBody :data="data" :form="form" :max-length="maxLength"/>
              <CardFooter
                :form="form"
                :submit-button-text="'Save'"
                :cancel-route="route('workpositions.index')"/>
            </form>
          </div>
        </div>
      </div>
    </template>
  </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import CardFooter from "./CardFooter";
import CardHeader from "./CardHeader";
import CardBody from "./CardBody";

export default {
  name: "Edit",
  components: {
    CardFooter,
    CardHeader,
    CardBody,
    AppLayout
  },
  props: {
    data: Object,
  },
  data() {
    return {
      form: this.$inertia.form({
        name: ''
      }),
    }
  },
  created() {
    this.form.name = this.data.name
  }
}
</script>

