<template>
  <app-layout>
    <template #pageTitle>Work Position</template>
    <template #buttonSlot>
      <inertia-link :href="route('workpositions.create')" class="btn btn-md btn-success">
        <i class="fa fa-plus-square"></i>
        Create
      </inertia-link>
    </template>
    <template #content>
      <div class="row">
        <div class="col-md-12 mt-1">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Work Position list</h3>
              <div class="card-tools">
                <SearchInput route-name="workpositions.index"/>
              </div>
            </div>
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th class="text-center" style="width: 10px">#</th>
                  <SortedColumn
                    label="Name"
                    column-name="name"
                    route-name="workpositions.index"/>
                  <th class="text-center" style="width: 200px">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in data.data" :key="item.id">
                  <td class="text-center">{{ item.id }}.</td>
                  <td>{{ item.name }}</td>
                  <td class="text-center">
                    <inertia-link
                      class="btn btn-sm btn-primary mr-1"
                      :href="route('workpositions.edit', item.id)">
                      <i class="fa fa-pencil-alt"></i> Edit
                    </inertia-link>
                    <button class="btn btn-sm btn-danger"
                            @click="handleDeleteRow(item.id, item.name)">
                      <i class="fa fa-trash"></i> Delete
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer clearfix">
              <PaginationButtons :links="data.links"/>
            </div>
          </div>
        </div>
      </div>
    </template>
  </app-layout>
</template>

<script>
import SearchInput from "./SearchInput";
import SortedColumn from "./SortedColumn";
import PaginationButtons from "./PaginationButtons";
import AppLayout from "../../Layouts/AppLayout";

export default {
  name: "Index",
  components: {
    SearchInput,
    SortedColumn,
    PaginationButtons,
    AppLayout,
  },
  props: {
    data: Object
  },
  data() {
    return {
      modalConfirmation: {
        id: Number,
        name: String
      },
      showModal: false
    }
  },
  methods: {
    handleDeleteRow(id, name) {
      this.$swal({
        title: 'Remove position?',
        html: 'Are you sure want to remove position <strong>' + name + '</strong>?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        if (result.isConfirmed) {
          this.$inertia.delete(route('workpositions.destroy', id), {
            onSuccess: () => {
              this.$toast.success(this.$page.props.flash.message, {
                position: 'top'
              });
            }
          })
        }
      });
    },
    handleDelete() {
      this.$inertia.delete(route('workpositions.destroy', this.modalConfirmation.id))
      this.modalConfirmation.id = this.modalConfirmation.name = this.showModal = false
    }
  },
  mounted() {
    if (this.$page.props.flash.message) {
      this.$toast.success(this.$page.props.flash.message, {
        position: 'top'
      });
    }
  }
}
</script>
