<!--<template>-->
<!--  <div>-->
<!--    <jet-confirmation-modal :show="showModal" @close="showModal = false">-->
<!--      <template #title>-->
<!--        Remove position-->
<!--      </template>-->

<!--      <template #content>-->
<!--        Are you sure want to remove position {{ modalConfirmation.name }}?-->
<!--      </template>-->

<!--      <template #footer>-->
<!--        <jet-secondary-button @click.native="showModal = false">-->
<!--          Cancel-->
<!--        </jet-secondary-button>-->

<!--        <jet-danger-button class="ml-2" @click="handleDelete">-->
<!--          Delete-->
<!--        </jet-danger-button>-->
<!--      </template>-->
<!--    </jet-confirmation-modal>-->
<!--  </div>-->
<!--</template>-->
<!--<script>-->
<!--import JetConfirmationModal from '@/Jetstream/ConfirmationModal'-->
<!--import JetDangerButton from "@/Jetstream/DangerButton"-->
<!--import JetSecondaryButton from "@/Jetstream/SecondaryButton"-->

<!--export default {-->
<!--  name: 'ModalConfirmation',-->
<!--  components: {JetConfirmationModal, JetDangerButton, JetSecondaryButton},-->
<!--  props: {-->
<!--    handleDelete: {},-->
<!--    modalConfirmation: {},-->
<!--    showModal: {}-->
<!--  }-->
<!--}-->
<!--</script>-->
