<template>
  <ul class="pagination pagination-sm m-0 float-right">
    <li
      v-for="(link, idx) in links"
      :key="idx"
      :class="{'active': link.active}"
      class="page-item">
      <inertia-link
        class="page-link"
        :href="link.url ? link.url : '#'"
        preserve-scroll
        preserve-state><span v-html="link.label"></span>
      </inertia-link>
    </li>
  </ul>
</template>
<script>
export default {
  name: 'PaginationButtons',
  props: {
    links: {},
  }
}
</script>
