<template>
  <div class="input-group input-group-sm" style="width: 250px;">
    <input type="text"
           v-model="searchQuery"
           @keypress.enter="handleSearch"
           class="form-control float-right"
           style="border-color: #CED4DA;"
           placeholder="Search">
    <div class="input-group-append">
      <button type="submit"
              @click="handleSearch"
              @keypress.enter="handleSearch"
              class="btn btn-default">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
</template>
<script>
export default {
  name: 'SearchInput',
  props: {
    routeName: String,
  },
  data() {
    return {
      searchQuery: ''
    }
  },
  methods: {
    handleSearch() {
      this.$inertia.get(route(this.routeName), {search: this.searchQuery}, {
        preserveState: true
      })
    },
  }
}
</script>
