<template>
  <th @click="handleSort" style="cursor: pointer"> {{ label }}
    <span v-if="sorted.sort === columnName">
      <i v-if="sorted.direction === 'asc'" class="fas fa-arrow-down"></i>
      <i v-else class="fas fa-arrow-up"></i>
    </span>
  </th>
</template>
<script>
export default {
  name: 'SortedColumn',
  props: {
    label: String,
    routeName: String,
    columnName: String,
  },
  data() {
    return {
      sorted: {
        sort: '',
        direction: 'asc'
      },
    }
  },
  methods: {
    handleSort() {
      this.sorted.sort = this.columnName
      this.$inertia.get(route(this.routeName), this.sorted, {
          preserveState: true,
          onSuccess: () => {
            this.sorted.direction = this.sorted.direction === 'asc' ? 'desc' : 'asc'
          },
        },
      )
    },
  }
}
</script>
