<template>
  <app-layout>
    <template #content>
      <div class="row">
        <div class="col-md-6">
          <div class="card card-primary">
            <CardHeader card-title="Add Employee"/>
            <form @submit.prevent="formData.post(route('employees.store'))" enctype="multipart/form-data">
              <div class="card-body">
                <b-form-group label="Photo:" label-for="photo">
                  <b-form-file
                    id="photo"
                    v-model="formData.photo"
                    placeholder="Choose a file or drop it here..."
                    drop-placeholder="Drop file here..."></b-form-file>
                  <b-form-invalid-feedback
                    :force-show="true"
                    v-if="formData.errors.photo">
                    {{ formData.errors.photo }}
                  </b-form-invalid-feedback>
                </b-form-group>
                <!--Full Name-->
                <b-form-group label="Full name:" label-for="full_name">
                  <b-input-group>
                    <b-input-group-prepend is-text>
                      <b-icon icon="person"></b-icon>
                    </b-input-group-prepend>
                    <b-form-input
                      id="full_name"
                      v-model="formData.full_name"
                      type="text"
                      placeholder="Enter full name"/>
                  </b-input-group>
                  <b-form-invalid-feedback
                    :force-show="true"
                    v-if="formData.errors.full_name">
                    {{ formData.errors.full_name }}
                  </b-form-invalid-feedback>
                </b-form-group>
                <!--Phone Number-->
                <b-form-group label="Phone:" label-for="phone_number">
                  <b-input-group>
                    <b-input-group-prepend is-text>
                      <b-icon icon="phone"></b-icon>
                    </b-input-group-prepend>
                    <the-mask
                      id="phone_number"
                      v-model="formData.phone_number"
                      class="form-control"
                      :masked="true"
                      placeholder="+380 (##) ### ## ##"
                      :mask="['+380 (##) ### ## ##', '+380 (##) ### ## ##']"/>
                  </b-input-group>
                  <b-form-invalid-feedback
                    :force-show="true"
                    v-if="formData.errors.phone_number">
                    {{ formData.errors.phone_number }}
                  </b-form-invalid-feedback>
                </b-form-group>

                <!--Email-->
                <b-form-group label="Email:" label-for="email">
                  <b-input-group>
                    <b-input-group-prepend is-text>
                      <b-icon icon="envelope"></b-icon>
                    </b-input-group-prepend>
                    <b-form-input
                      v-model="formData.email"
                      id="email"
                      type="email"
                      placeholder="Enter email"/>
                  </b-input-group>
                  <b-form-invalid-feedback
                    :force-show="true"
                    v-if="formData.errors.email">
                    {{ formData.errors.email }}
                  </b-form-invalid-feedback>
                </b-form-group>

                <!--Salary-->
                <b-form-group label="Salary:" label-for="salary">
                  <b-input-group>
                    <b-input-group-prepend is-text>
                      <b-icon icon="cash"></b-icon>
                    </b-input-group-prepend>
                    <money
                      id="salary"
                      class="form-control"
                      prefix="$ "
                      v-bind="moneyOption"
                      v-model="formData.salary"/>
                  </b-input-group>
                  <b-form-invalid-feedback
                    :force-show="true"
                    v-if="formData.errors.salary">
                    {{ formData.errors.salary }}
                  </b-form-invalid-feedback>
                </b-form-group>

                <!--Position-->
                <b-form-group label="Position:" :class="{'form-group': true}" label-for="work_position">
                  <b-form-select
                    id="work_position"
                    v-model="formData.work_position_id" :options="serverData.workPositions"/>
                  <b-form-invalid-feedback
                    :force-show="true"
                    v-if="formData.errors.work_position_id">
                    {{ formData.errors.work_position_id }}
                  </b-form-invalid-feedback>
                </b-form-group>


                <!--Position-->
                <b-form-group label="Head:" :class="{'form-group': true}" label-for="chief">
                  <v-select
                    label="full_name"
                    :filterable="false"
                    :options="chiefs"
                    @option:selecting="selecting"
                    @search="onSearchChief">
                    <template slot="no-options">
                      type to search GitHub repositories..
                    </template>
                    <template slot="option" slot-scope="option">
                      <div class="d-center">
                        <img :src='option.thumb_image' width="25" height="25"/>
                        {{ option.full_name }}
                      </div>
                    </template>
                    <template slot="selected-option" slot-scope="option">
                      <div class="selected d-center">
                        <img :src='option.thumb_image' width="25" height="25"/>
                        {{ option.full_name }}
                      </div>
                    </template>
                  </v-select>
                </b-form-group>

                <!--Date-->
                <b-form-group label="Date employment:" label-for="date_employment">
                  <b-form-datepicker v-model="formData.date_employment" class="mb-2"></b-form-datepicker>
                  <b-form-invalid-feedback
                    :force-show="true"
                    v-if="formData.errors.date_employment">
                    {{ formData.errors.date_employment }}
                  </b-form-invalid-feedback>
                </b-form-group>


              </div>
              <div class="card-footer">
                <inertia-link
                  :href="route('employees.index')"
                  class="btn btn-outline-primary">Cancel
                </inertia-link>
                <button type="submit" class="btn btn-success float-right">
                  <i class="fa fa-save"></i> Create
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </template>
  </app-layout>
</template>

<script>
import {TheMask} from 'vue-the-mask'
import {Money} from 'v-money'
import CardHeader from "../WorkPositions/CardHeader";
import CardFooter from "../WorkPositions/CardFooter";
import AppLayout from "../../Layouts/AppLayout";
import vSelect from 'vue-select'
import axios from 'axios'

export default {
  name: "Create",
  props: {
    serverData: Object
  },
  components: {
    vSelect,
    TheMask,
    Money,
    CardHeader,
    CardFooter,
    AppLayout,
  },
  data() {
    return {
      chiefs: [],
      formData: this.$inertia.form({
        full_name: '',
        phone_number: Number,
        email: String,
        work_position_id: Number,
        salary: 0,
        date_employment: '',
        photo: null,
        parent_id: '',
      }),
      moneyOption: {
        decimal: ',',
        thousands: '',
        prefix: 'R$ ',
        suffix: '',
        precision: 0,
        masked: false
      }
    }

  },
  methods: {
    selecting(option) {
      this.formData.parent_id = option.id
    },
    onSearchChief(search, loading) {
      if (search.length) {
        loading(true)
        axios.get(route('employees.search', {q: search}))
          .then(res => {
            this.chiefs = res.data
            loading(false)
          })
      }
    }
  }
}
</script>

