<template>
  <b-modal
    id="destroyModal"
    title="Destroy head"
    @ok="handleOk"
    @show="resetModal"
    @hidden="resetModal"
    :ok-disabled="!isDisabled"
    v-if="destroyData.parent">
    <p class="my-4">Employee
      <strong>{{ destroyData.parent.full_name }}</strong>
      has <strong>{{ destroyData.children.length }}</strong> employees</p>
    <p>Please select new head:</p>
    <v-select
      label="full_name"
      :filterable="false"
      :options="chiefs"
      @option:selecting="selecting"
      @search="onSearchChief">
      <template slot="no-options">
        type to search employees.
      </template>
      <template slot="option" slot-scope="option">
        <div class="d-center">
          <img :src='option.thumb_image' width="25" height="25"/>
          {{ option.full_name }}
        </div>
      </template>
      <template slot="selected-option" slot-scope="option">
        <div class="selected d-center">
          <img :src='option.thumb_image' width="25" height="25"/>
          {{ option.full_name }}
        </div>
      </template>
    </v-select>
  </b-modal>
</template>
<script>
import VSelect from 'vue-select'
import axios from "axios";

export default {
  name: 'DestroyModal',
  components: {VSelect},
  props: {
    destroyData: {},
  },
  data() {
    return {
      form: this.$inertia.form({
        old_parent_id: null,
        new_parent_id: null
      }),
      chiefs: [],
    }
  },
  methods: {
    selecting(option) {
      this.form.new_parent_id = option.id
      this.form.old_parent_id = this.destroyData.parent.id
    },
    onSearchChief(search, loading) {
      if (search.length) {
        loading(true)
        axios.get(route('employees.search', {q: search, exclude: this.destroyData.parent.id}))
          .then(res => {
            this.chiefs = res.data
            loading(false)
          })
      }
    },
    resetModal() {
      this.form.new_parent_id = null
      this.form.old_parent_id = null
    },
    handleOk(modalEvent) {
      modalEvent.preventDefault()
      this.form.delete(route('employees.destroyChief', this.destroyData.parent.id), {
        preserveState: true,
        preserveScroll: true,
        onSuccess: () => {
          this.$bvModal.hide('destroyModal')

          this.$toast.success(this.$page.props.flash.message, {
            position: 'top'
          });
        }
      })
    },
  },

  computed: {
    isDisabled() {
      return this.form.new_parent_id && this.form.old_parent_id
    }
  }
}
</script>
