<template>
  <app-layout>
    <template #pageTitle>Employees</template>
    <template #buttonSlot>
      <inertia-link :href="route('employees.create')" class="btn btn-md btn-success">
        <i class="fa fa-plus-square"></i>
        Create
      </inertia-link>
    </template>
    <template #content>
      <div class="row">
        <div class="col-md-12 mt-1">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Employees list</h3>
              <div class="card-tools">
                <SearchInput route-name="employees.index"/>
              </div>
            </div>
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <SortedColumn
                    label="ID"
                    column-name="id"
                    route-name="employees.index"/>
                  <th class="text-center">Photo</th>
                  <SortedColumn
                    label="Full name"
                    column-name="full_name"
                    route-name="employees.index"/>
                  <th>Position</th>
                  <SortedColumn
                    label="Date of employment"
                    column-name="date_employment"
                    route-name="employees.index"/>
                  <SortedColumn
                    label="Phone number"
                    column-name="phone_number"
                    route-name="employees.index"/>
                  <SortedColumn
                    label="Email"
                    column-name="email"
                    route-name="employees.index"/>
                  <SortedColumn
                    label="Salary"
                    column-name="salary"
                    route-name="employees.index"/>
                  <th class="text-center" style="width: 200px">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in serverData.data" :key="item.id">
                  <td class="text-center align-middle">{{ item.id }}</td>
                  <td class="text-center align-middle">
                    <img class="img-circle" :src="item.thumb_image" width="50" height="50" alt="">
                  </td>
                  <td class="align-middle">{{ item.full_name }}</td>
                  <td class="align-middle">{{ item.work_position ? item.work_position.name : 'Lorem' }}</td>
                  <td class="align-middle">{{ item.date_employment_format }}</td>
                  <td class="align-middle">{{ item.phone_number }}</td>
                  <td class="align-middle">{{ item.email }}</td>
                  <td class="align-middle">{{ item.salary }}</td>
                  <td class="text-center align-middle">
                    <inertia-link
                      class="btn btn-sm btn-primary mr-1"
                      :href="route('employees.edit', item.id)">
                      <i class="fa fa-pencil-alt"></i> Edit
                    </inertia-link>
                    <button class="btn btn-sm btn-danger" @click="handleDelete(item.id, item.full_name)">
                      <i class="fa fa-trash"></i> Delete
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer clearfix">
              <PaginationButtons :links="serverData.links"/>
            </div>
          </div>
        </div>
        <DestroyModal :destroy-data="destroyData"/>
      </div>
    </template>
  </app-layout>
</template>

<script>
import PaginationButtons from "../WorkPositions/PaginationButtons";
import AppLayout from "../../Layouts/AppLayout";
import SearchInput from "../WorkPositions/SearchInput";
import SortedColumn from "../WorkPositions/SortedColumn";
import axios from "axios";
import DestroyModal from "./DestroyModal";

export default {
  name: "Index",
  components: {
    DestroyModal,
    SortedColumn,
    SearchInput,
    PaginationButtons,
    AppLayout,

  },
  props: {
    serverData: Object
  },
  data() {
    return {
      items: [],
      searchQuery: '',
      destroyData: {
        parent: {},
        children: []
      },
    }
  },
  methods: {
    handleDelete(id, name) {
      axios.get(route('employees.hasChildren', {id: id}))
        .then(res => {
          if (res.data.hasChildren) {
            this.destroyData.parent = res.data.parent
            this.destroyData.children = res.data.children
            this.$bvModal.show('destroyModal')
          } else {
            this.$swal({
              title: 'Remove position?',
              html: 'Are you sure want to remove position <strong>' + name + '</strong>?',
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#d33',
              cancelButtonColor: '#3085d6',
              confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
              if (result.isConfirmed) {
                this.$inertia.delete(route('employees.destroy', id), {
                  onSuccess: () => {
                    this.$toast.success(this.$page.props.flash.message, {
                      position: 'top'
                    });
                  }
                })
              }
            });
          }
        })
    },
    handleSearch() {
      this.$inertia.get(route('workpositions.index'), {search: this.searchQuery}, {
        preserveState: true
      })
    },
  },
  created() {
    if (this.$page.props.flash.message) {
      this.$toast.success(this.$page.props.flash.message, {
        position: 'top'
      });
    }
  }
}
</script>
