<template>
  <app-layout>
    <template #content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aut, consequuntur dolorum ex exercitationem facilis
      fugit hic iste neque officiis porro quaerat quisquam quo rerum sequi sunt ullam unde voluptate?
    </template>
  </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";

export default {
  components: {
    AppLayout,
  },
};
</script>
