<template>
  <div class="login-page">
    <div class="login-box">
      <div class="card card-outline card-primary">
        <div class="card-header text-center abz">
          <Logo/>
          <!--          <a href="#" class="h1"><b>abz</b>.Agency</a>-->
        </div>
        <div class="card-body">
          <p class="login-box-msg">Sign in to start your session</p>
          <form @submit.prevent="submit">
            <div v-if="hasErrors">
              <div class="font-medium text-red-600">Whoops! Something went wrong.</div>

              <ul class="mt-3 list-disc list-inside text-sm text-red-600" :class="{'has-error': errors.email}">
                <li v-for="(error, key) in errors" :key="key" style="color:red;">{{ error }}</li>
              </ul>
            </div>
            <div class="input-group mb-3">
              <input
                v-model="form.email"
                id="email"
                type="email"
                class="form-control"
                placeholder="Email"
                required autofocus autocomplete="email"/>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                v-model="form.password"
                id="password"
                type="password"
                class="form-control"
                placeholder="Password"
                required/>
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block">Login In</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Logo from "../../Layouts/Includes/Logo";

export default {
  name: "Login",
  components: {Logo},
  data() {
    return {
      form: this.$inertia.form({
        email: '',
        password: '',
        remember: false
      })
    }
  },
  computed: {
    errors() {
      return this.$page.props.errors
    },

    hasErrors() {
      return Object.keys(this.errors).length > 0;
    },
  },
  methods: {
    submit() {
      this.form
        .transform(data => ({
          ...data,
          remember: this.form.remember ? 'on' : ''
        }))
        .post(this.route('login'), {
          onFinish: () => this.form.reset('password'),
        })
    }
  }
}
</script>

<style scoped>
.abz {
  background: #007bff;
}
.abz div{
  margin: 0 auto;
}
</style>
