<template>
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item d-none d-sm-inline-block">
        <inertia-link
          :href="route('logout')"
          method="post"
          as="button"
          class="btn btn-sm btn-default">
          <i class="fas fa-sign-out-alt"></i> Logout
        </inertia-link>
      </li>
    </ul>
  </nav>
</template>

<script>

export default {
  name: "Navbar",
}
</script>
