<template>
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="#" class="brand-link">
      <Logo/>
    </a>
    <div class="sidebar">
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <inertia-link class="nav-link" :href="route('employees.index')">
              <i class="fas fa-users"></i> Employees
            </inertia-link>
          </li>
          <li class="nav-item">
            <inertia-link class="nav-link" :href="route('workpositions.index')">
              <i class="fas fa-briefcase"></i> Work Positions
            </inertia-link>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
</template>

<script>
import Logo from "./Logo";
export default {
  name: "Sidebar",
  components: {Logo}
}
</script>

<style scoped>

</style>
