<template>
  <div class="wrapper" id="application">
    <Navbar/>
    <Sidebar/>
    <div class="content-wrapper">
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0"><slot name="pageTitle">Dashboard</slot></h1>
            </div>
            <div class="col-sm-6 text-right">
              <slot name="buttonSlot"></slot>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="container-fluid">
          <slot name="content"></slot>
        </div>
      </div>
    </div>
    <Footer/>
  </div>
</template>

<script>
import Sidebar from "@/Layouts/Includes/Sidebar";
import Navbar from "@/Layouts/Includes/Navbar";
import Footer from "@/Layouts/Includes/Footer";

export default {
  name: 'AppLayout',
  components: {Footer,Sidebar, Navbar},
  props: ['canLogin'],
  methods: {
    logout() {
      this.$inertia.post(route('logout'));
    },
  }
}
</script>
